/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Layout principal */
.container {
    display: flex;
    height: 100vh;
}

/* Formulário */
.form-container {
    width: 50%;
    padding: 40px;
    background-color: #ffffff;
    overflow-y: auto;
}

.image-container {
    width: 50%;
    background-size: cover;
    background-color: #002D9F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 80%;
}

/* Botão de voltar */
.back-button {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Título e descrição */
h2 {
    font-size: 24px;
    line-height: 120%;
    font-weight: bold;
    color: #333;
}

h4 {
    font-size: small;
    font-family: sans-serif;
    color: #666;
    font-weight: bolder;
}

p {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

/* Campos do formulário */
form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

label {
    font-size: 15px;
    color: #333;
    margin: 5px 0;
    display: block;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:invalid {
    border-color: red;
}

.input {
    
    background: rgba(253, 253, 253, 0.36) !important;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
    outline: none;
}

.input:focus {
    border-color: #E68000;
}

.select {
    background-color: #FFFAFA;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
    outline: none;
}

.select:focus {
    border-color: #E68000;;
}

.caixa-de-seleção {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    padding: 20px;
    text-align: center;
    border: none;
}

.marcaçao {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.marcaçao:hover {
    border-color: #002D9F;
    
}

.marcaçao label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    cursor: pointer;
}

.marcaçao img {
    width: 40px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.icone-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.termos {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 20px 0;
}

.destaque {
    font-weight: bold;
    color: #002D9F;
    text-decoration: underline;
    cursor: pointer;
}


.termos input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0;
}

/* Botões */
button {
    background-color: #1e40af;
    color: #fff;
    box-shadow: 0 4px 8px rgba(30, 64, 175, 0.2);
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #FF5E0E;
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

#saveButton {
    background-color: #4CAF50;
}

#saveButton:hover {
    background-color: #FF5E0E;
}

/* Mensagens de erro */
.error-message {
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .form-container,
    .image-container {
        width: 100%;
    }

    .image-container {
        min-height: 300px;
    }

    .caixa-de-seleção {
        grid-template-columns: 1fr;
    }
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #f0f0f0;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #E68000, #FF6B6B);
    box-shadow: 0 0 8px #E68000;
    border-radius: 6px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #FFA040;
  }

/* Estilos para a tela de login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-form {

    background: linear-gradient(
        to right,
        #f0f9ff 0%,
        #bae6fd 50%,
        #5eead4 100%
    );

    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    align-items: center;
    
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input {
    margin-bottom: 15px;
    background-color: white;
    border-radius: 12px;
    padding: 12px;
}


.login-form button {
    width: 100%;
    margin-top: 20px;
}

.login-form p {
    text-align: center;
    margin-top: 20px;
}

.login-form a {
    color: #002D9F;
    text-decoration: none;
    font-weight: bold;
}

.login-form a:hover {
    text-decoration: underline;
    color: #FF5E0E;
}

/* Estilo botão modo-escuro*/
.trilho {
    height: 50px;
    width: 100px;
    margin-left: 110px;
    background-color: #e0f2fe;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    transition: .5s;
}

.trilho .indicador {
    width: 50px;
    height: 50px;
    background-color:#f0f9ff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}


.trilho.ativo .indicador {
    left: 50px !important;
}


.trilho.dark {
    background-color: #808080;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.trilho.dark .indicador {
    left: 50px;
    background-color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}


.modo-escuro {
    background-color: #1a1a1a;
    color: #ffffff;
}


.login-container.dark {
    background-color: #000924;
}

.login-form.dark {
    background: linear-gradient(
        135deg, 
        #0f172a 0%, 
        #1e3a8a 50%, 
        #6d28d9 100%
    );;
}

.button.dark {
    background-color: #0c1e42;
}

.button:hover.dark {
    background-color: #E68000;
}

.input.dark {
    color: #E6E6FA;
}

.label.dark {
    color: #E6E6FA;
}

.h2.dark {
    color: #E6E6FA;
}

.p.dark {
    color: #E6E6FA;
}

.login-form input.dark {
    background-color: #e5e5e5;
}

.login-form a.dark {
    color: #81D8D0;
}

.login-form a:hover.dark {
    color: #E68000;
}

/* Estilo modo escuro do formulário*/

.container.dark {
    background-color: #81D8D0;
}

.form-container.dark {
    background-color: #000206;
}

.image-container.dark {
    background-color: #000924;
}

.back-button.dark {
    color: #E6E6FA;

}

.legenda.dark {
    color: #E6E6FA;
}

.tipoTrilha.dark {
    color: #E6E6FA;
}

.h4.dark {
    color: #E6E6FA;
}

.destaque.dark {
    color: #81D8D0;
}

.destaque:hover.dark {
    color: #E68000;

}

#saveButton.dark {
    background-color: #2F4F4F;
}

#saveButton:hover.dark {
    background-color: #E68000;
}

.input.dark {
    background: rgba(54, 54, 54, 0.4) !important;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 12px;
    padding: 12px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        inset 0 1px 2px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

input.dark:focus {
    background: rgba(54, 54, 54, 0.2) !important;
    border-color: #E68000;
    box-shadow:
        0 0 0 3px rgba(81, 216, 208, 0.1),
        inset 0 1px 3px rgba(255, 255, 255, 0.2);
    outline: none;
}

.dark input::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Branco transparente */
  }

.select.dark {
    background: rgba(54, 54, 54, 0.4) !important;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 12px;
    padding: 12px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        inset 0 1px 2px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

.select.dark:focus {
    background: rgba(54, 54, 54, 0.2) !important;
    border-color: #E68000;
    box-shadow:
        0 0 0 3px rgba(81, 216, 208, 0.1),
        inset 0 1px 3px rgba(255, 255, 255, 0.2);
    outline: none;
}

.marcaçao:hover.dark {
    border-color: #E68000;
    box-shadow:
        0 0 0 3px rgba(81, 216, 208, 0.1),
        inset 0 1px 3px rgba(255, 255, 255, 0.2);
}

